/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bd-image: repeating-linear-gradient(
    to right,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%
  );
  --accent-font: 'PressStart2P';
  --variable-fonts: 'Inter-Variable';
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --border-color: #000;
  --contour-color: #000;
  --bd-color: #FFF;
  --heart-color: #FF0000;
  --width: 100%;
}